@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@500&display=swap");
body {
  background-color: rgb(28, 79, 131);
}
.navbar{
  width: 100%;
}
nav.navbar > div.container-fluid > a.navbar-brand {
  color: rgb(255, 0, 128);
  font-size: 1.8rem;
  text-align: center;
  font-family: "Montserrat", sans-serif;
}

footer {
  color: white;
  margin-bottom: 0%;
  height: auto;
  justify-content: center;
  text-align: center;
}
footer a {
  color: rgb(148, 148, 148);
}
footer a:hover {
  color: rgb(0, 119, 255);
}

header {
  height: 6vh;
}
header a {
  margin-left: 2vw;
}



thead {
  background-color: rgb(6, 126, 247);
  color: white;
}

tbody tr {
  background-color: rgb(22, 96, 170);
  color: white;
}

hr {
  color: gold;
}

main.container {
  background-color: rgb(22, 96, 170);
  width: 80%;
  justify-content: center;
  margin-left: 10%;
  margin-right: 10%;
  border: 0.1rem solid rgb(18, 86, 131);
  border-radius: 1rem;
}
main.container h2 {
  color: rgb(255, 6, 6);
  font-size: large;
}
main.container a {
  color: rgb(2, 242, 250);
  font-size: large;
}

h2 {
  color: rgb(255, 168, 6);
  font-size: large;
}

h3 {
  color: rgb(248, 248, 255);
  font-size: medium;
}

h5 {
  color: rgb(255, 255, 255);
  font-size: medium;
}
hr {
  color: rgb(243, 179, 4);
}
h5.modal-title {
  color: black;
}

h2#scrip {
  font-size: medium;
  color: rgb(253, 251, 251);
}
span {
  color: rgb(203, 223, 235);
}
