<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add watchlist</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
</head>
<style>
    h3,form {
        margin-top: 10%;
        justify-content: center;
        text-align: center;
    }
    a:hover{
        color:cyan;
    }
</style>

<body>
    <h2>
        <form method="POST" action=''>
            <br>
            Select symbol:
            <select name="symbol">
                {% for company in companies %}
                <option value="{{ company[0] }}">{{ company[0] }}</option>
                {% endfor %}
            </select>
            <input type="submit" value="Add">
        </form>
    </h2>
    <h3><a href="portfolio.html">Go back!</a></h3>
</body>

</html>