<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login first</title>
</head>
<style>
    body {
        background-color: rgb(28, 79, 131);
    }

    main.container {
        background-color: rgb(22, 96, 170);
        width: 80%;
        justify-content: center;
        margin: 10%;
        
        border: 0.1rem solid rgb(18, 86, 131);
        border-radius: 1rem;

    }
    h2{
        color:rgb(247, 16, 16);
    }
    h3>a{
        color:darkturquoise;
    }
    h3>a:hover{
        color:deepskyblue;
    }
</style>

<body>
    <main class="container">
        <center>
            <h2>Please Login First!</h2>
            <h3><a href="/">Go back</a></h3>
        </center>
    </main>
</body>

</html>