<!doctype html>
<html lang="en">

<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">

    <title>Portfolio MS</title>
</head>
<style>
    @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@500;700&display=swap');

    .container a {
        color: rgb(255, 255, 255);
        font-family: 'Montserrat', sans-serif;
    }

    .container a:hover {
        color: rgb(141, 218, 248);
        text-transform: uppercase;
        text-decoration: none;    }

    footer.container a {
        color: rgb(224, 224, 224);
    }

    footer.container a:hover {
        color: rgb(0, 255, 234);
    }
</style>

<body>
    <nav class="navbar" style="background-color:rgb(18, 62, 105);">
        <div class="container-fluid">
            <a class="navbar-brand fw-normal" href="#">Portfolio MS</a>
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                {% if "user" not in session %}
                <div class="mx-2 my-2">
                    <button class="btn btn-info" data-bs-toggle="modal" data-bs-target="#loginModal"
                        type="submit">Login</button>

                    <!--Login Modal -->
                    <div class="modal fade" id="loginModal" tabindex="-1" aria-labelledby="loginModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="loginModalLabel">Login</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close">X</button>
                                </div>
                                <div class="modal-body">
                                    <form method="POST" name="login">
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Username</label>
                                            <input type="text" class="form-control" name='username'
                                                id="exampleInputPassword1">
                                        </div>
                                        <div class="mb-3">
                                            <div class="mb-3">
                                                <label for="exampleInputPassword1" class="form-label">Password</label>
                                                <input type="password" class="form-control" name="password"
                                                    id="exampleInputPassword1">
                                            </div>
                                        </div>
                                        <div class="mb-3 form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary"
                                            href="/dashboard/index.html">Submit</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div>

                    <!--Signup Button -->
                    <button class="btn btn-danger mx-4" data-bs-toggle="modal" data-bs-target="#signupModal"
                        type="submit">Register</button>

                    <!--Signup Modal -->
                    <div class="modal fade" id="signupModal" tabindex="-1" aria-labelledby="signupModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="signupModalLabel">Sign Up</h5>
                                    
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="mb-3">
                                            <label for="exampleInputUsername" class="form-label">Username</label>
                                            <input type="email" class="form-control" id="exampleInputUsername">                                            
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputEmail1" class="form-label">Email address</label>
                                            <input type="email" class="form-control" id="exampleInputEmail1"
                                                aria-describedby="emailHelp" name="new_email">                                            
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1"
                                                name="new_password">
                                        </div>
                                        <div class="mb-3">
                                            <label for="exampleInputPassword1" class="form-label">Confirm
                                                Password</label>
                                            <input type="password" class="form-control" id="exampleInputPassword1">
                                        </div>
                                        <div class="mb-3 form-check">
                                            <input type="checkbox" class="form-check-input" id="exampleCheck1">
                                            <label class="form-check-label" for="exampleCheck1">Remember me</label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Create account</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-secondary"
                                        data-bs-dismiss="modal">Close</button>

                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                {% else %}
                <!--Logout Button -->
                <form method="POST" action=''>
                    <button class="btn btn-danger" data-bs-toggle="modal" data-bs-target="#logoutModal" type="submit"
                        name="logout">Logout</button>
                </form>
                {% endif %}
        </div>
        </div>
    </nav>

    <div class="container justify-content-center text-center my-3">
        <div class="row g-6">
            <div class="col-6">
                <div class="p-4 border my-3" style="background-color:rgb(22, 90, 158); color:aliceblue;"><a
                        href="portfolio.html">Portfolio</a></div>
            </div>
            <div class="col-6">
                <div class="p-4 border my-3" style="background-color:rgb(22, 90, 158);"><a href="stockprice.html">Stock Price</a></div>
            </div>
            <br />
            <div class="col-6">
                <div class="p-4 border my-3" style="background-color:rgb(22, 90, 158);"><a
                        href="fundamental.html">Fundamental Report</a></div>
            </div>
            <div class="col-6">
                <div class="p-4 border my-3" style="background-color:rgb(22, 90, 158);"><a
                        href="technical.html">Technical Signal</a></div>
            </div>
            <br />
            <div class="col-6">
                <div class="p-4 border my-3" style="background-color:rgb(22, 90, 158);"><a
                        href="news.html">News</a></div>
            </div>
            <div class="col-6">
                <div class="p-4 border my-3" style="background-color:rgb(22, 90, 158);"><a
                        href="holdings.html">Holdings</a></div>
            </div>
            <br />
            <div class="col-6">
                <div class="p-4 border my-3" style="background-color:rgb(22, 90, 158);"><a href="watchlist.html">Your
                        Watchlist</a></div>
            </div>
            <div class="col-6">
                <div class="p-4 border my-3" style="background-color:rgb(22, 90, 158);"><a
                        href="dividend.html">Dividend History</a></div>
            </div>
        </div>
    </div>

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->
    <!-- <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.bundle.min.js"></script> -->

    <!-- Option 2: Separate Popper and Bootstrap JS -->

    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
        integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p"
        crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
        integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF"
        crossorigin="anonymous"></script>
    <!-- FOOTER -->
    <footer class="container">
        <p>&copy; 2021 Portfolio MS</p>
        <p class="float-center"><a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        
    </footer>
</body>

</html>