<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Watchlist</title>

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
</head>

<body>
    <nav class= "navbar" style="background-color:rgb(18, 62, 105);">
        <div class="container-fluid">
            <a class="navbar-brand">
                Watchlist
            </a>
            
            <form class="d-flex">
                <input class="form-control me-2" type="search" placeholder="Search Symbol..." aria-label="Search">
                
            </form>
            
        </div>
    </nav>
<br>
    <button class="btn btn-danger float-right"><a style="color: black" href="add_transaction.html">+ Add New</a></button>
    <div class="table-responsive justify-content-center float-center">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">LTP</th>
                    <th scope="col">PC</th>
                    <th scope="col">CH</th>
                    <th scope="col">CH %</th>
                </tr>
            </thead>
            <tbody>
                {% for items in watchlist %}
                <tr>
                    <td> {{items[0]}} </td>
                    <td> {{items[1]}} </td>
                    <td> {{items[2]}} </td>
                    <td> {{items[3]}} </td>
                    <td> {{items[4]}} </td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <!--js-->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
    integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
    crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
    integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
    crossorigin="anonymous"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>
<script>
    $(document).ready(function () {
        $(".form-control").on("keyup", function () {
            var value = $(this).val().toLowerCase();
            $(".table tbody tr").filter(function () {
                $(this).toggle($(this).text().toLowerCase().indexOf(value) > -1)
            });
        });
    });
</script>
    <!-- FOOTER -->
    <footer class="container">
        Quick Links
        <hr />
        <a href="/">Home</a><br>
        <a href="portfolio.html">My Portfolio</a><br>
        <a href="stockprice.html">Stock Price</a><br>
        <a href="companyprofile.html">Company Profile</a><br>
        <a href="fundamental.html">Fundamental Report</a><br>
        <a href="technical.html">Technical Signals</a><br>
        <a href="dividend.html">Dividend History</a><br>
        <a href="news.html">Stock News</a><br>
        <a href="holdings.html">Holdings</a><br>
        <a href="watchlist.html">My Watchlist</a>
        <hr />

        <p>&copy; 2021 Portfolio MS</p>
        <p class="float-center"><a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        <p class="float-center"><a href="#">Back to top</a></p>
    </footer>
</body>

</html>