<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>stockprice</title>
</head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
        integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/style.css">
    <link rel="stylesheet" href="../static/font-awesome/css/font-awesome.min.css">
<body>

    <nav class="navbar navbar-dark" style="background-color:rgb(18, 62, 105);">
        <div class="container-fluid">
            <a class="navbar-brand fw-normal .fs-10 text" href="#">Watchlist</a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0">

                    <li class="nav-item">
                        <a class="nav-link" href="/about.html" data-bs-toggle="modal" data-bs-target="#addtrModal">Add
                            New Stock to Watchlist</a>
                    </li>
                    <!--add transaction modal-->
                    <div class="modal fade" id="addtrModal" tabindex="-1" aria-labelledby="addtrModalLabel"
                        aria-hidden="true">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <h5 class="modal-title" id="addtrModalLabel">Add New Stock</h5>
                                    <button type="button" class="btn-close" data-bs-dismiss="modal"
                                        aria-label="Close"></button>
                                </div>
                                <div class="modal-body">
                                    <form>
                                        <div class="col-md-5">
                                            <label for="country" class="form-label">Choose Stock</label>
                                            <select class="form-select" id="info" required="true">
                                                <option value="">Choose...</option>
                                                <option>Stock1</option>
                                                <option>Stock2</option>
                                                <option>Stock3</option>
                                                <option>Stock4</option>
                                                <option>Stock5</option>
                                                <option>Stock6</option>
                                                <option>Stock7</option>
                                                <option>Stock8</option>
                                                <option>Stock9</option>
                                                <option>Stock10</option>
                                            </select>
                                            <div class="invalid-feedback">
                                                Please select any Symbol.
                                            </div>
                                        </div>
                                        <button type="submit" onclick="myFunction()" class="btn btn-primary my-2"
                                            href="portfolio.html">Add</button>
                                    </form>
                                </div>
                                <div class="modal-footer">
                                </div>
                            </div>
                        </div>
                    </div></ul>
                    <form class="d-flex">
                        <input class="form-control my-2 mx-2" type="search" placeholder="Search Symbol..." aria-label="Search">
                        <button class="btn btn-outline-info" type="submit">Search</button>
                    </form>
                
                
            </div>
            
        </div>

    </nav>


    <div class="table-responsive">
        <table class="table table-sm">
            <thead>
                <tr>
                    <th scope="col">Symbol</th>
                    <th scope="col">LTP</th>
                    <th scope="col">PC</th>
                    <th scope="col">CH</th>
                    <th scope="col">CH%</th>


                </tr>
            </thead>
            <tbody>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>
                <tr>
                    <td>ABC</td>
                    <td>1000</td>
                    <td>1010</td>
                    <td>977</td>
                    <td>20</td>

                </tr>

            </tbody>
        </table>
    </div>
    <script src="../bootstrap-5.0.2-dist/js/bootstrap.bundle.min.js"></script>
    <script>
        function myFunction(){
            var element = document.getElementsByClassName("col");
            element.classList.add("table");
        }
    </script>

    <!-- Option 2: Separate Popper and Bootstrap JS -->
    <!--
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js" integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous"></script>
    -->
    <!-- FOOTER -->
    <footer class="container">
        Quick Links
        <hr />
        <a href="index.html">Home</a><br>
        <a href="portfolio.html">My Portfolio</a><br>
        <a href="stockprice.html">Stock Price</a><br>
        <a href="fundamental.html">Fundamental Signals</a><br>
        <a href="technical.html">Technical Signals</a><br>
        <a href="holding.html">Holdings</a><br>
        <a href="watchlist.html">My Watchlist</a>
        <hr />
        <p>&copy; 2021 NEPSE Portfolio, Inc.</p>
        <p class="float-center"><a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
        <p class="float-center"><a href="#">Back to top</a></p>
    </footer>
</body>

</html>